---
import { pageInfo } from "@components/_common/Constants"
---

<style>
  .gridcell-title {
    margin-right: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 0;
  }

  .mod-gridcell-details-style {
    width: max-content;
    text-align: left;
    color: hsla(0, 0%, 100%, 0.6);
  }

  .gridcell-details-style {
    width: max-content;
    margin: auto;
    text-align: left;
    color: hsla(0, 0%, 100%, 0.6);
  }

  .gridcell-details-style-2 {
    width: max-content;
    margin: auto;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.6);
  }

  .gridcell-list-style {
    padding-bottom: 5px;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.15);
    margin-bottom: 10px;
    border-radius: 8px;
  }

  .guide-title {
    margin-bottom: 5px !important;
  }

  .guide-text p {
    color: hsla(0, 0%, 100%, 0.8);
    margin-bottom: 5px;
    font-weight: 300;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 0.875rem;
    line-height: 1.5;
  }

  .shadow-lg {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4) !important;
  }
</style>

{/* Images w/ Description */}
<div id="images" class="hidden md:block">
  <div class="-mx-3 flex flex-wrap">
    {
      pageInfo.map((guide) => (
        <div class="gridcell-list-style mt-3 w-full px-3 text-left sm:mt-0">
          <div class="mt-1 flex">
            <div class="w-[80px] shrink-0">
              <a href={guide.link} target="_self" rel="noopener noreferrer">
                <img
                  loading="lazy"
                  class="h-[100px] rounded object-cover shadow-lg"
                  src={guide.image}
                  alt={`${guide.title} cover`}
                />
              </a>
            </div>
            <div class="ml-4 mt-1 grow">
              <a href={guide.link} target="_self" rel="noopener noreferrer">
                <div class="guide-title mb-4 text-sm font-bold uppercase">
                  {guide.title}
                </div>
              </a>
              <div class="mod-gridcell-details-style mb-4 text-xs text-gray-600">
                <div>
                  <i class="fas fa-pencil-alt mr-1" />
                  &#8201;
                  {guide.authors.length > 0
                    ? guide.authors.map((author, index) => (
                        <span>
                          {author}
                          {index < guide.authors.length - 1 ? ", " : ""}
                        </span>
                      ))
                    : false}
                </div>

                <div>
                  <i class="fas fa-sync mr-1" />
                  &#8201;{guide.lastUpdated}
                </div>
                <div>Revision {guide.revision}</div>
              </div>
            </div>
          </div>
          <div class="mt-2">
            <div class="guide-text">
              <br />
              <p set:html={guide.description} />
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>

{/* Images Only */}
<div class="block md:hidden" id="images">
  <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
    {
      pageInfo.map((guide) => (
        <div class="mt-5 text-center">
          <a
            href={guide.link}
            target="_self"
            rel="noopener noreferrer"
            class="block"
          >
            <img
              loading="lazy"
              class="mx-auto h-[200px] w-[150px] rounded object-cover shadow-lg"
              src={guide.image}
              alt={guide.title}
            />
            <div class="gridcell-title guide-title mb-4 mt-2 text-[95%] font-bold uppercase">
              {guide.title}
            </div>
          </a>
          <div class="gridcell-details-style-2 mb-4 text-[80%]">
            <div>
              <i class="fas fa-pencil-alt mr-1" />
              {guide.authors.length > 0
                ? guide.authors.map((author, index) => (
                    <span>
                      {author}
                      {index < guide.authors.length - 1 ? ", " : ""}
                    </span>
                  ))
                : false}
            </div>
            <div>
              <i class="fas fa-sync mr-1" />
              {guide.lastUpdated}
            </div>
            <div>Revision {guide.revision}</div>
          </div>
        </div>
      ))
    }
  </div>
</div>
