---
import { ClientRouter } from "astro:transitions"

import "@styles/guide_page.css"
import "@styles/fontawesome/css/fontawesome.css"
import "@styles/fontawesome/css/brands.css"
import "@styles/fontawesome/css/solid.css"
import "@styles/poppins_font.css"

import { Navbar } from "@components/_common/Navbar"
import { pageInfo } from "@components/_common/Constants"
import { SidenavPage } from "@components/_common/Sidenav"
import Footer from "@components/_common/Footer.astro"

interface Props {
  title: string
  metaTitle?: string
  activePage?: string
  tocID?: string | null
  metaUrl?: string
  metaImage?: string
  metaDescription: string
}

const {
  title,
  metaTitle,
  activePage,
  tocID,
  metaUrl,
  metaImage,
  metaDescription,
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <!-- for google search -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="google-site-verification"
      content="haSqOW7yYrOiz_6U0wAqWSb7IBGh10_KZ8cNkRJXyhQ"
    />

    <meta
      name="keywords"
      content="English Community Guide Compendium, English Azur Lane, Azur, Lane, Azur Lane, ECGC, Azur Lane ECGC, Wiki, Guide, Guides, Help, Tool, Tools, Ship, Ships, Gear, Gears, Samheart564, Sam Heart, Sam"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{metaTitle || title} - ECGC</title>

    <script is:inline type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Azur Lane ECGC",
        "url": "https://samheart564.github.io/test_ecgc",
        "image": "https://samheart564.github.io/test_ecgc/images/misc/SiteIcon.png"
      }
    </script>

    <meta name="description" content={metaDescription} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={`https://samheart564.github.io/test_ecgc${metaUrl ? `/${metaUrl}` : ""}`}
    />
    <meta
      property="og:image"
      content={`https://samheart564.github.io${metaImage ? `/test_ecgc/images/${metaImage}` : pageInfo.find((page) => page.title === title)?.image ? pageInfo.find((page) => page.title === title)?.image : "/test_ecgc/images/misc/no_cover.jpg"}`}
    />
    <meta property="og:description" content={metaDescription} />

    <link
      rel="icon"
      type="image/x-icon"
      href="https://samheart564.github.io/test_ecgc/images/misc/SiteIcon.ico"
    />
  </head><span data-astro-transition-persist="someId">
    <noscript>Your browser does not support JavaScript!</noscript>
  </span>

  <ClientRouter />

  <body>
    <Navbar activePage={activePage} client:load />
    {!!tocID && <SidenavPage page={tocID} client:load />}
    <div
      id="main"
      class="guide-content-body custom-sidenav-shift mx-auto max-w-[100%] overflow-y-hidden px-3 md:max-w-[75%]"
    >
      <slot />
    </div>
  </body>
  <Footer />

  <style is:global>
    @media screen and (min-width: 1016px) and (max-width: 2016px) {
      .custom-sidenav-shift {
        margin-left: 250px;
        transition: 0.5s;
      }

      .custom-sidenav-shift.custom-sidenav-collapse {
        margin-left: 12.5vw;
      }
    }
  </style>


</html>
