---
import USSSubFleet from "@assets/fleetbuilding_guide/USSSubFleet.png"
import KMSSubFleet from "@assets/fleetbuilding_guide/KMSSubFleet.png"
import GeneralBossing from "@assets/fleetbuilding_guide/GeneralBossing.png"
import GeneralMobbing from "@assets/fleetbuilding_guide/GeneralMobbing.png"
import BBFleet from "@assets/fleetbuilding_guide/BBFleet.png"
import IJNCVFleet from "@assets/fleetbuilding_guide/IJNCVFleet.png"
import USSCVFleet from "@assets/fleetbuilding_guide/USSCVFleet.png"

import { HR } from "@components/_common/HR"
import { ImageCarousel } from "@components/_common/ImageCarousel"
import { ItemCell, ItemContainer } from "@components/_common/ItemCell"

import WikiLink from "@components/_common/WikiLink.astro"

import FastLoadShipList from "./FastLoadShipList.astro"
import FleetbuildingShipList from "./FleetbuildingShipList.astro"
import SubmarineTable from "./SubmarineTable.astro"

import {
  preloadShips,
  reduction25to49Ships,
  reduction50to74Ships,
  reduction75to99Ships,
  healerShips,
  dmgDealerShips,
  offSupportShips,
  defSupportShips,
} from "./MFShipCategories"

import {
  VGsuperTankShips,
  VGtankShips,
  VGdmgDealerShips,
  VGaACarryShips,
  VGaaShips,
  VGaswShips,
  VGoffSupportShips,
  VGdefSupportShips,
} from "./VGShipCategories"

import {
  internationalFleetMain,
  internationalFleetSub,
  kmsWolfpackFleetMain,
  kmsWolfpackFleetSub,
  ussFishpackFleetMain,
  ussFishpackFleetSub,
  tempestaFleetMain,
  tempestaFleetSub,
} from "./SSFShipCategories"
---

<h2 id="introduction">Introduction</h2><HR />
<p>
  Fleetbuilding for hard content is something many players struggle with. This
  guide hopes to give a comprehensive overview of fleetbuilding for hard content
  in Azur Lane.
</p>
<p>
  <b
    >This guide assumes all ships are properly geared, check out gear guides for
    more information.</b
  >
</p>
<br />

<h2 id="just_started">If you just started Azur Lane...</h2>
<HR />
<p>
  Just stick to 1 fleet for now and ignore this guide. This guide is meant for
  mid-game players who have enough ships leveled to get a second fleet going.
</p>
<p>
  You can use <b
    >unlocking <WikiLink page="Operation Siren">Operation Siren</WikiLink></b
  > as a benchmark. Once you have unlocked Operation Siren, come back to this guide.
</p>
<ul>
  <li>
    <p>
      <i
        >Note: When farming, refer to the <a
          href="farming"
          target="_blank"
          rel="noopener noreferrer">Farming Guide</a
        > for more information</i
      >
    </p>
  </li>
</ul>
<br />

<h2 id="mob_vs_boss">Mob Fleet vs Boss Fleet</h2><HR />
<ul>
  <li>
    <p><b>Mob Fleet:</b></p>
  </li>
  <ul>
    <li>
      <p>Kills everything on the stage that is <b>NOT</b> the main boss.</p>
    </li>
    <li>
      <p>Built to sustain multiple battles in a row.</p>
    </li>
    <li>
      <p>Can be used for leveling ships.</p>
    </li>
    <li>
      <p>Used for 90% of all Azur Lane content.</p>
    </li>
  </ul>
</ul>
<br />
<ul>
  <li>
    <p><b>Boss Fleet:</b></p>
  </li>
  <ul>
    <li>
      <p><b>ONLY</b> attacks the main boss of the stage.</p>
    </li>
    <ul>
      <li>
        <p>Boss Fleet ships should be at full health going into the fight.</p>
      </li>
      <li>
        <p>
          There is also an <WikiLink page="Combat#Ammo">Ammo Bonus</WikiLink> damage
          advantage.
        </p>
      </li>
    </ul>
    <li>
      <p>Built to do the maximum amount of damage in 1 fight.</p>
    </li>
    <li>
      <p>Has your best ships and gear.</p>
    </li>
  </ul>
</ul>
<br />

<h2 id="backline">Backline Ship Roles</h2>
<HR />
<ul>
  <li>
    <p><b>Notes:</b></p>
  </li>
  <ul>
    <li>
      <p>
        <i
          >Consult a tierlist/other guide, or make your own judgements for ship
          viability. The order of ships listed below is NOT a ship rating
          criteria.</i
        >
      </p>
    </li>
    <li>
      <p>
        <i
          >Some ships fall into multiple roles, and depending on how good they
          are in that roll they could be duplicated below! Read their skills for
          more information. The roles assigned below are roles I would use them
          in personally.</i
        >
      </p>
    </li>
    <li>
      <p>
        <i
          >See <a href="#skill_sync" target="_self" rel="noopener noreferrer"
            >Skill Syncing</a
          > for more information on <b>Faction Fleets</b> and <b>Pair Skills.</b
          ></i
        >
      </p>
    </li>
    <li>
      <p>
        <i
          >See <a
            href="#damage_stagger"
            target="_self"
            rel="noopener noreferrer">Preloads / Staggering Damage</a
          > for more information on <b>Fast Loaders</b></i
        >
      </p>
    </li>
  </ul>
</ul>
<br />

<h3 id="healer">Healer</h3>
<p>
  The backbone of a mob fleet. Helps sustain your ships over the course of a
  sortie.
</p>
<br />
<FleetbuildingShipList role="healer" ships={healerShips} />

<h3 id="main_dmg_dealer">Damage Dealer</h3>
<p>They do big number (depending on the ship).</p>
<br />
<FleetbuildingShipList role="main-dmgdealer" ships={dmgDealerShips} />

<h3 id="main_off_support">Offensive Support</h3>
<p>
  These ships offer offensive buffs to the fleet in exchange for slightly lower
  personal damage.
</p>
<br />
<FleetbuildingShipList role="main-offsupport" ships={offSupportShips} />

<h3 id="main_def_support">Defensive Support</h3>
<p>
  These ships offer defensive buffs to the fleet in exchange for slightly lower
  personal damage.
</p>
<br />
<FleetbuildingShipList role="main-defsupport" ships={defSupportShips} />

<h2 id="vg">Vanguard Ship Roles</h2>
<HR />
<ul>
  <li>
    <p><b>Notes:</b></p>
  </li>
  <ul>
    <li>
      <p>
        <i
          >Consult a tierlist/other guide, or make your own judgements for ship
          viability. The order of ships listed below is NOT a ship rating
          criteria.</i
        >
      </p>
    </li>
    <li>
      <p>
        <i
          >Some ships might fall into multiple roles! Read their skills for more
          information. The roles assigned below are roles I would use them in
          personally.</i
        >
      </p>
    </li>
    <li>
      <p>
        <i
          >See <a href="#skill_sync" target="_self" rel="noopener noreferrer"
            >Skill Syncing</a
          > for more information on <b>Faction Fleets</b> and <b>Pair Skills.</b
          ></i
        >
      </p>
    </li>
  </ul>
</ul>
<br />

<h3 id="supertank">SuperTank</h3>
<p>
  These ships are extremely bulky and can survive almost any single fight (in
  the correct circumstances; read skills for details).
</p>
<br />
<FleetbuildingShipList role="supertank" ships={VGsuperTankShips} />

<h3 id="tank">Tank</h3>
<p>
  These ships are bulky and can survive many different fights (in the correct
  circumstances; read skills for details).
</p>
<br />
<FleetbuildingShipList role="tank" ships={VGtankShips} />

<h3 id="vg_damage_dealer">Damage Dealer</h3>
<p>These ships do a lot of damage.</p>
<ul>
  <li>
    <p>
      <i
        >Damage levels can vary wildly in this section; read the ships' skills
        or other guides for more information.</i
      >
    </p>
  </li>
  <li>
    <p>
      <i
        >Bulk levels can vary wildly in this section; read the ships' skills or
        other guides for more information.</i
      >
    </p>
  </li>
  <li>
    <p>
      <i
        >Support capabilities can vary wildly in this section; read the ships'
        skills or other guides for more information.</i
      >
    </p>
  </li>
  <li>
    <p>
      <i
        >Ships that only deal damage from torpedoes and have nothing else going
        for them are noticably worse than other ship types when playing on
        auto-battle. However when playing on manual-battle, they are noticably
        better than other ship types. Use with caution.</i
      >
    </p>
  </li>
</ul>
<br />
<FleetbuildingShipList role="vg-dmgdealer" ships={VGdmgDealerShips} />

<h3 id="aa_carry">AA Carry</h3>
<p>
  These ships can single-handedly solve your entire fleet's AA issues on their
  own.
</p>
<br />
<FleetbuildingShipList role="vg-aacarry" ships={VGaACarryShips} />

<h3 id="aa">AA</h3>
<p>These ships can solve most of your fleet's AA issues.</p>
<br />
<FleetbuildingShipList role="vg-aa" ships={VGaaShips} />

<h3 id="asw">ASW</h3>
<p>
  These ships can solve most of your fleet's ASW issues, especially when
  equipped with <WikiLink page="Hedgehog"
    >"Hedgehog" Anti-Submarine Mortar</WikiLink
  >.
</p>
<br />
<FleetbuildingShipList role="vg-asw" ships={VGaswShips} />

<h3 id="vg_offensive_support">Offensive Support</h3>
<p>
  These ships offer offensive buffs to the fleet in exchange for slightly lower
  personal damage.
</p>
<br />
<FleetbuildingShipList role="vg-offsupport" ships={VGoffSupportShips} />

<h3 id="vg_defensive_support">Defensive Support</h3>
<p>
  These ships offer defensive buffs to the fleet in exchange for slightly lower
  personal damage.
</p>
<br />
<FleetbuildingShipList role="vg-defsupport" ships={VGdefSupportShips} />

<h2 id="damage_stagger">Fast Loads / Staggering Damage</h2><HR />
<p>
  Having all your BB shots or CV airstrikes overkill a wave does not help with
  clear times. This is why staggering damage helps.
</p>
<ul>
  <li>
    <p>
      <i
        >Consult a tierlist or other guide for ship viability. Ships are NOT
        ordered by viability.</i
      >
    </p>
  </li>
  <li>
    <p>
      <i
        >Ships in this category also fulfil other roles (sometimes multiple!),
        which are marked accordingly. The role listed is the role I would
        personally use them in.</i
      >
    </p>
  </li>
  <li>
    <p>
      <i
        >Some ships are more strict with requirements to Fast Load than others,
        so be wary of ruining your fleet composition. Read skills for details!</i
      >
    </p>
  </li>
  <ul>
    <li>
      <p>
        <b
          >Conditions below do NOT include self in the requirements! It could be
          easier than you think to activate the conditions.</b
        >
      </p>
    </li>
  </ul>
</ul>
<li>
  <p>Ways to stagger damage:</p>
</li>
<ul>
  <li>
    <p>
      Slightly adjusting Planes (CVs) or Main Guns (BBs) can help stagger damage
      slightly.
    </p>
  </li>
  <li>
    <p>
      Some equipment can also help stagger volleys or airstrikes. Read equipment
      skills for details.
    </p>

    <ItemContainer>
      <ItemCell
        item="Admiralty Fire Control Table"
        wikiLink="Admiralty Fire Control Table"
        itemImg="equipment/rainbow_table.png"
        rarity={5}
        inGroup={true}
        hasBorder={true}
      />

      <ItemCell
        item="High Standard Fire Control Radar"
        wikiLink="High Standard Fire Control Radar"
        itemImg="equipment/hsfcr.png"
        rarity={4}
        inGroup={true}
        hasBorder={true}
      />

      <ItemCell
        item="Homing Beacon"
        wikiLink="Homing Beacon"
        itemImg="equipment/homing_beacon.png"
        rarity={3}
        inGroup={true}
        hasBorder={true}
      />

      <ItemCell
        item="Elite Aviation Maintenence Manjuu"
        wikiLink="Elite Aviation Maintenence Manjuu"
        itemImg="equipment/aviation_manjuu.png"
        rarity={3}
        inGroup={true}
        hasBorder={true}
      />
    </ItemContainer>
  </li>
  <li>
    <p>
      Using one of the ships listed below that have built-in stagger through
      their skills.
    </p>
  </li>
</ul>

<br />

<h3 id="fast_loader_list">List of Ships with Fast Loads</h3>

<h5><u>Preload</u></h5>
<FastLoadShipList role="preload" ships={preloadShips} />

<h5><u>75% - 99%</u></h5>
<FastLoadShipList role="75-99" ships={reduction75to99Ships} />

<h5><u>50% - 74%</u></h5>
<FastLoadShipList role="50-74" ships={reduction50to74Ships} />

<h5><u>25% - 49%</u></h5>
<FastLoadShipList role="25-49" ships={reduction25to49Ships} />

<h2 id="skill_sync">Skill Syncing</h2><HR />

<h3 id="timed_skill">Timed Skill Syncing</h3>

<h4 class="fs-5">20 Second Syncing:</h4>
<p>
  <i>Example: <WikiLink page="Helena" title="Helena">Helena</WikiLink></i>
</p>
<p>
  With standard equipment, all backline options sync with <WikiLink
    page="Helena"
    title="Helena">Helena</WikiLink
  > for at least 2-3 strikes.
</p>
<ul>
  <li>
    <p>
      <i
        ><WikiLink page="Helena" title="Helena">Helena</WikiLink> has different sync
        timings when equipped with a <WikiLink
          page="SG Radar#Type 3-0"
          title="SG Radar">SG Radar</WikiLink
        >. When equipping an SG Radar, she cannot sync with most CVs.</i
      >
    </p>
  </li>
</ul>
<br />

<h4 class="fs-5">15 Second Syncing:</h4>
<p>
  Don't bother with syncing to 15s. BBs need the <WikiLink
    page="Twin 457mm (Mark A Prototype)"
    title="Prototype Twin 457mm Mk A Main Gun Mount"
    >Prototype Twin 457mm Mk A Main Gun Mount</WikiLink
  >, and CVs can't sync to this at all.
</p>
<br />

<h3 id="on_shot_sync">On Shot / Strike Syncing</h3>
<p>
  <i>
    Example:
    <WikiLink page="Vanguard" title="Vanguard">Vanguard</WikiLink>,
    <WikiLink page="Duke of York" title="Duke of York">Duke of York</WikiLink>,
    <WikiLink page="Ark Royal" title="Ark Royal">Ark Royal</WikiLink>,
    <WikiLink page="Implacable" title="Implacable">Implacable</WikiLink>,
    <WikiLink page="Centaur" title="Centaur">Centaur</WikiLink>, etc.
  </i>
</p>

<ol>
  <li>
    <p>
      Read ship skills to see what timings are necessary, and see if a ship
      needs to launch first/last.
    </p>
  </li>
  <li>
    <p>Adjust equipment such that:</p>
    <ul>
      <li>
        <p>
          All ships launch at roughly the same time (within 1 second of each
          other; for CV slow supports you might need closer timings).
        </p>
      </li>
      <li>
        <p>
          Ships that need to launch first/last are able to launch first/last
          without issues.
        </p>
      </li>
    </ul>
  </li>
</ol>
<br />

<h3 id="faction_fleets">Faction Fleets</h3>
<p>
  Faction Fleets are fleets that are built around a specific faction, usually
  using a ship that specifically buffs that faction.
</p>
<p>
  The main issue with faction fleets is that most faction-specific supports do
  not provide enough damage to justify the support capabilities. A well-built
  mixed faction fleet will perform better than a well-built faction fleet 100%
  of the time. <b>Just use good ships, ignoring faction.</b>
</p>
<br />

<h3 id="pair_skills">Pair Skills</h3>
<p>
  These are ships that receive buffs from sortieing with specific ships (usually
  ships of the same faction).
</p>
<ul>
  <li>
    <p>
      <b>1</b> Other Ship Needed: It is fine to build the fleet around this buff.
    </p>
  </li>
  <ul>
    <li>
      <p>
        Example: <WikiLink page="Howe" title="Howe">Howe's</WikiLink>
        <span class="red_skill">Covenant of the Immortal Knights</span>.
      </p>
    </li>
  </ul>
  <li>
    <p>
      <b>2+</b> Other Ships Needed, and the benefit is <b>good</b>: It is fine
      to build the fleet around this buff.
    </p>
  </li>
  <ul>
    <li>
      <p>
        Example: <WikiLink page="Shinano" title="Shinano">Shinano's</WikiLink>
        <span class="blue_skill">Protector of the New Moon</span>.
      </p>
    </li>
  </ul>
  <li>
    <p>
      <b>2+</b> Other Ships Needed, and the benefit is <b>mediocre / bad</b>: It
      is fine to ignore this buff.
    </p>
  </li>
  <ul>
    <li>
      <p>
        Example: <WikiLink page="Bellona" title="Bellona">Bellona's</WikiLink>
        <span class="blue_skill">Throwing Down the Gauntlet</span>.
      </p>
    </li>
  </ul>
  <li>
    <p>
      <b>Bad</b> Ships Needed: Don't build the fleet around this buff.
    </p>
  </li>
  <ul>
    <li>
      <p>
        Example: <WikiLink page="Portland" title="Portland">Portland's</WikiLink
        >
        <span class="red_skill">Best Sister</span>.
      </p>
    </li>
  </ul>
</ul>
<br />

<h2 id="damage_distribution">Damage Distribution</h2><HR />
<h3 id="backline_dmg_dist">Backline</h3>
<ul>
  <li>
    <p>
      The <b>Flagship</b> generally takes the most damage. All ramming boat / plane
      damage distribution is random, so be careful!
    </p>
  </li>
  <li>
    <p>
      Due to concealment, CV/Ls are generally safe when they are not revealed.
    </p>
  </li>
</ul>
<br />

<h3 id="vanguard_dmg_dist">Vanguard</h3>
<ul>
  <li>
    <p>
      The <b>Main Tank</b> takes the most damage. The <b>Off-Tank</b> takes the 2nd
      most damage. The <b>Protected</b> (Middle) Slot takes the least damage.
    </p>
  </li>
  <li>
    <p>
      <i
        >For ADVANCED PLAYERS: To determine relative ship bulk, check out this <a
          rel="noopener noreferrer"
          target="_blank"
          href="https://docs.google.com/spreadsheets/d/1HF6_hLEB8m_v0stp4DLGnIoDjgojvo7fjYz-cysjTMc/edit#gid=0"
          title="Mebot EHP Sheet">EHP Sheet</a
        > by @mebot. Sheet and numbers are a work in progress, and may not accurately
        reflect in-game bulk / performance.</i
      >
    </p>
  </li>
</ul>
<br />

<h2 id="campaign_fleet_comps">Campaign Fleet Compositions</h2><HR />

<ImageCarousel
  client:visible={{ rootMargin: "50px" }}
  data={[
    {
      src: GeneralMobbing.src,
      caption: "Example Mob Fleet",
    },
    {
      src: GeneralBossing.src,
      caption: "Example Boss Fleet.",
    },
  ]}
/>
<br />

<h3 id="campaign_theory">Theory</h3>
<p>
  ECTL does a great job going over the theory and mechanics of fleetbuilding,
  which you can find <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://slaimuda.github.io/ectl/#/newbguide/fleetbuilding">here</a
  >. Check it out if you are interested.
</p>
<br />

<h3 id="mob_fleet">Mob Fleet</h3>
<ul>
  <li>
    <p>
      <b>Backline:</b>
    </p>
  </li>
  <ul>
    <li>
      <p>
        Slot 1 (Off-Flag): <a
          href="#healer"
          target="_self"
          rel="noopener noreferrer">Healer</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 2 (Flagship): <a
          href="#flagship_bb"
          target="_self"
          rel="noopener noreferrer">Flagship BB</a
        > or <a href="#off-flag_bb" target="_self" rel="noopener noreferrer"
          >Off-Flag BB</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 3 (Off-Flag): <a
          href="#off-flag_bb"
          target="_self"
          rel="noopener noreferrer">Off-Flag BB</a
        > or <a href="#damage_cv" target="_self" rel="noopener noreferrer"
          >Damage CV</a
        > or <a
          href="#backline_support"
          target="_self"
          rel="noopener noreferrer">Support</a
        >
      </p>
    </li>
  </ul>
</ul>
<br />
<ul>
  <li>
    <p>
      <b>Vanguard:</b>
    </p>
  </li>
  <ul>
    <li>
      <p>
        Slot 1 (Main Tank): <a
          href="#boss_main_tank"
          target="_self"
          rel="noopener noreferrer">Boss Main Tank</a
        > or <a href="#mob_main_tank" target="_self" rel="noopener noreferrer"
          >Mob Main Tank</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 2 (Protected): <a
          href="#vg_damage_dealer"
          target="_self"
          rel="noopener noreferrer">Damage Dealer</a
        > or <a href="#vg_support" target="_self" rel="noopener noreferrer"
          >Support</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 3 (Off-Tank): <a
          href="#vg_damage_dealer"
          target="_self"
          rel="noopener noreferrer">Damage Dealer</a
        > or <a href="#vg_support" target="_self" rel="noopener noreferrer"
          >Support</a
        >
      </p>
    </li>
  </ul>
</ul>
<br />

<h3 id="generic_boss_fleet">Generic Boss Fleet</h3>
<ul>
  <li>
    <p>
      <b>Backline:</b>
    </p>
  </li>
  <ul>
    <li>
      <p>
        Slot 1 (Off-Flag): <a
          href="#off-flag_bb"
          target="_self"
          rel="noopener noreferrer">Off-Flag BB</a
        > or <a href="#damage_cv" target="_self" rel="noopener noreferrer"
          >Damage CV</a
        > or <a
          href="#backline_support"
          target="_self"
          rel="noopener noreferrer">Support</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 2 (Flagship): <a
          href="#flagship_bb"
          target="_self"
          rel="noopener noreferrer">Flagship BB</a
        > or <a href="#off-flag_bb" target="_self" rel="noopener noreferrer"
          >Off-Flag BB</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 3 (Off-Flag): <a
          href="#off-flag_bb"
          target="_self"
          rel="noopener noreferrer">Off-Flag BB</a
        > or <a href="#damage_cv" target="_self" rel="noopener noreferrer"
          >Damage CV</a
        > or <a
          href="#backline_support"
          target="_self"
          rel="noopener noreferrer">Support</a
        >
      </p>
    </li>
  </ul>
</ul>
<br />
<ul>
  <li>
    <p>
      <b>Vanguard:</b>
    </p>
  </li>
  <ul>
    <li>
      <p>
        Slot 1 (Main Tank): <a
          href="#boss_main_tank"
          target="_self"
          rel="noopener noreferrer">Boss Main Tank</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 2 (Protected): <a
          href="#vg_damage_dealer"
          target="_self"
          rel="noopener noreferrer">Damage Dealer</a
        > or <a href="#vg_support" target="_self" rel="noopener noreferrer"
          >Support</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 3 (Off-Tank): <a
          href="#vg_damage_dealer"
          target="_self"
          rel="noopener noreferrer">Damage Dealer</a
        > or <a href="#vg_support" target="_self" rel="noopener noreferrer"
          >Support</a
        >
      </p>
    </li>
  </ul>
</ul>
<br />
<h3>For specific campaign stages...</h3>
<p>
  Check out the Chapter Walkthough guide at ECTL, found <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://slaimuda.github.io/ectl/#/newbguide/walkthrough"
  >
    here</a
  >. They do a great job explaining chapter mechanics that you can tune your
  fleet towards.
</p>
<br />

<h2 id="opsi_fleet_comps">Operation Siren Fleet Compositions</h2><HR />
<p>
  <i>See also: <WikiLink page="Operation Siren">Operation Siren</WikiLink></i>
</p>
<br />

<ImageCarousel
  client:visible={{ rootMargin: "50px" }}
  data={[
    {
      src: BBFleet.src,
      caption: "Example BB Boss Fleet.",
    },
    {
      src: IJNCVFleet.src,
      caption: `Example CV Boss Fleet ("Ryuusei").`,
    },
    {
      src: USSCVFleet.src,
      caption: `Example CV Boss Fleet ("Rocket").`,
    },
  ]}
/>
<br />

<h3 id="opsi_theory">Theory</h3>
<p>
  Since most of the large buffs given by Support ships (from <a
    href="#backline_support"
    target="_self"
    rel="noopener noreferrer">Main Fleet</a
  > or <a href="#vg_support" target="_self" rel="noopener noreferrer"
    >Vanguard Fleet</a
  >) target a specific Hull type (like BB, CV, etc.), building around maximizing
  those buffs is most optimal.
</p>
<ul>
  <li>
    <p>
      <b>Fleet Types:</b>
    </p>
  </li>
  <ul>
    <li>
      <p>
        <b>1</b>
        <a href="#mob_fleet" rel="noopener noreferrer" target="_self"
          >Mob Fleet</a
        >
      </p>
    </li>
    <li>
      <p>
        <b>3</b>
        <a href="#generic_boss_fleet" rel="noopener noreferrer" target="_self"
          >Boss Fleets</a
        >
      </p>
    </li>
  </ul>
</ul>
<br />

<h3 id="opsi_mob_fleet">Mob Fleet (Operation Siren)</h3>
<p>
  <i
    >Main Article: <a href="#mob_fleet" rel="noreferrer noopener" target="_self"
      >Mob Fleet</a
    ></i
  >
</p>
<br />

<h3 id="opsi_generic_boss_fleet">Generic Boss Fleet (Operation Siren)</h3>
<p>
  <i
    >Main Article: <a href="#mob_fleet" rel="noreferrer noopener" target="_self"
      >Generic Boss Fleet</a
    ></i
  >
</p>
<br />

<h3 id="opsi_bb_fleet">BB Boss Fleet (Operation Siren)</h3>
<ul>
  <li>
    <p>
      <b>Backline:</b>
    </p>
  </li>
  <ul>
    <li>
      <p>
        Slot 1 (Off-Flag): <a
          href="#off-flag_bb"
          target="_self"
          rel="noopener noreferrer">Off-Flag BB</a
        > or <a
          href="#backline_support"
          target="_self"
          rel="noopener noreferrer">Support</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 2 (Flagship): <a
          href="#flagship_bb"
          target="_self"
          rel="noopener noreferrer">Flagship BB</a
        > or <a href="#off-flag_bb" target="_self" rel="noopener noreferrer"
          >Off-Flag BB</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 1 (Off-Flag): <a
          href="#off-flag_bb"
          target="_self"
          rel="noopener noreferrer">Off-Flag BB</a
        > or <a
          href="#backline_support"
          target="_self"
          rel="noopener noreferrer">Support</a
        >
      </p>
    </li>
  </ul>
</ul>
<br />
<ul>
  <li>
    <p>
      <b>Vanguard:</b>
    </p>
  </li>
  <ul>
    <li>
      <p>
        Slot 1 (Main Tank): <a
          href="#boss_main_tank"
          target="_self"
          rel="noopener noreferrer">Boss Main Tank</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 2 (Protected): <a
          href="#vg_damage_dealer"
          target="_self"
          rel="noopener noreferrer">Damage Dealer</a
        > or <a href="#vg_support" target="_self" rel="noopener noreferrer"
          >Support</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 3 (Off-Tank): <a
          href="#vg_damage_dealer"
          target="_self"
          rel="noopener noreferrer">Damage Dealer</a
        > or <a href="#vg_support" target="_self" rel="noopener noreferrer"
          >Support</a
        >
      </p>
    </li>
  </ul>
</ul>
<br />
<ul>
  <li><b>OpSi Specific Notes:</b></li>
  <ul>
    <li>
      <p>
        Ideally, at least one of these <a
          href="#backline_support"
          target="_self"
          rel="noopener noreferrer">Supports (from Main Fleet)</a
        > are used: <WikiLink page="Vanguard" title="Vanguard"
          >Vanguard</WikiLink
        >, <WikiLink page="Howe" title="Howe">Howe</WikiLink>, <WikiLink
          page="Duke of York"
          title="Duke of York">Duke of York</WikiLink
        >
      </p>
    </li>
  </ul>
</ul>
<br />

<h3 id="opsi_cv_fleet">CV Boss Fleet (Operation Siren)</h3>

<h4 id="ryuusei_cv_fleet">"Ryuusei" Fleet</h4>
<p>
  The purpose of this fleet is to slow down the enemy enough for all equipped
  converging Torpedo Bombers to land on the target for massive damage. Operation
  Siren bosses are slow in nature, which makes this fleet reliable.
</p>
<ul>
  <li>
    <p>
      <b>Backline:</b>
    </p>
  </li>
  <ul>
    <li>
      <p>
        Slot 1 (Off-Flag): Slow Support (<WikiLink
          page="Implacable"
          title="Implacable">Implacable</WikiLink
        >,
        <WikiLink page="August von Parseval" title="August von Parseval"
          >August von Parseval</WikiLink
        >,
        <WikiLink page="Ark Royal" title="Ark Royal">Ark Royal</WikiLink>,
        etc.).
      </p>
    </li>
    <li>
      <p>
        Slot 2 (Flagship): <a
          href="#damage_cv"
          target="_self"
          rel="noopener noreferrer">Damage CV</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 3 (Off-Flag): <a
          href="#damage_cv"
          target="_self"
          rel="noopener noreferrer">Damage CV</a
        > or <a
          href="#backline_support"
          target="_self"
          rel="noopener noreferrer">Support</a
        >
      </p>
    </li>
  </ul>
</ul>
<br />
<ul>
  <li>
    <p>
      <b>Vanguard:</b>
    </p>
  </li>
  <ul>
    <li>
      <p>
        Slot 1 (Main Tank): <a
          href="#boss_main_tank"
          target="_self"
          rel="noopener noreferrer">Boss Main Tank</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 2 (Protected): <a
          href="#vg_damage_dealer"
          target="_self"
          rel="noopener noreferrer">Damage Dealer</a
        > or <a href="#vg_support" target="_self" rel="noopener noreferrer"
          >Support</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 3 (Off-Tank): <a
          href="#vg_damage_dealer"
          target="_self"
          rel="noopener noreferrer">Damage Dealer</a
        > or <a href="#vg_support" target="_self" rel="noopener noreferrer"
          >Support</a
        >
      </p>
    </li>
  </ul>
</ul>
<br />
<ul>
  <li><b>OpSi Specific Notes:</b></li>
  <ul>
    <li>
      <p>
        Ideally, at least one of these <a
          href="#vg_support"
          target="_self"
          rel="noopener noreferrer">CV Damage Supports</a
        > are used.
      </p>
    </li>
  </ul>
</ul>
<br />

<h4 id="rocket_cv_fleet">"Rocket" Fleet</h4>
<p>
  The purpose of this fleet is to take advantage of certain ships' high damage
  fighter slots and load them up with Rockets to land on the target for massive
  damage. Operation Siren bosses are slow in nature, which makes this fleet
  reliable.
</p>
<ul>
  <li>
    <p>
      <b>Backline:</b>
    </p>
  </li>
  <ul>
    <li>
      <p>
        Slot 1 (Off-Flag): Slow Support (<WikiLink
          page="Implacable"
          title="Implacable">Implacable</WikiLink
        >,
        <WikiLink page="August von Parseval" title="August von Parseval"
          >August von Parseval</WikiLink
        >) or <WikiLink page="Independence" title="Independence"
          >Independence (Retrofit)</WikiLink
        > or other <a href="#damage_cv" target="_self" rel="noopener noreferrer"
          >Damage CV</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 2 (Flagship): <WikiLink page="Enterprise" title="Enterprise"
          >Enterprise</WikiLink
        >
      </p>
    </li>
    <li>
      <p>
        Slot 3 (Off-Flag): <WikiLink page="Yorktown II" title="Yorktown II"
          >Yorktown II</WikiLink
        > (ideally) or other <a
          href="#damage_cv"
          target="_self"
          rel="noopener noreferrer">Damage CV</a
        >
      </p>
    </li>
  </ul>
</ul>
<br />
<ul>
  <li>
    <p>
      <b>Vanguard:</b>
    </p>
  </li>
  <ul>
    <li>
      <p>
        Slot 1 (Main Tank): <a
          href="#boss_main_tank"
          target="_self"
          rel="noopener noreferrer">Boss Main Tank</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 2 (Protected): <a
          href="#vg_damage_dealer"
          target="_self"
          rel="noopener noreferrer">Damage Dealer</a
        > or <a href="#vg_support" target="_self" rel="noopener noreferrer"
          >Support</a
        >
      </p>
    </li>
    <li>
      <p>
        Slot 3 (Off-Tank): <a
          href="#vg_damage_dealer"
          target="_self"
          rel="noopener noreferrer">Damage Dealer</a
        > or <a href="#vg_support" target="_self" rel="noopener noreferrer"
          >Support</a
        >
      </p>
    </li>
  </ul>
</ul>
<br />
<ul>
  <li><b>OpSi Specific Notes:</b></li>
  <ul>
    <li>
      <p>
        Ideally, at least one of these <a
          href="#vg_support"
          target="_self"
          rel="noopener noreferrer">CV Damage Supports</a
        > are used.
      </p>
    </li>
  </ul>
</ul>
<br />

<h2 id="sub_fleet">Submarine Fleet Compositions</h2><HR />
<p>
  <b>If you are a new player, don't worry about Submarines.</b> Focus on Main/Vanguard
  Fleets first!
</p>
<br />

<h3 id="sub_fleet_positioning">Submarine Fleet Positioning</h3>
<p>Submarine Fleet Positioning come down to 3 main factors:</p>
<ul>
  <li>
    <p>
      <b>Enemy Movement</b> - Some enemies tend to congragate in one area of the
      map (stage-dependant). You want your highest damage submarines to target all
      their damage in that area (including barrages), which necessitates moving them
      to the optimal slot(s) to take advantage.
    </p>
    <ul>
      <li>
        <p>
          If there is no specific enemy congregation pattern, put your highest
          damage submarine in the middle, so that it can hit the widest area of
          enemies.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <p>
      <b>Ship Skills</b> - Some Submarines (ex. <WikiLink
        page="Flasher"
        title="Flasher">Flasher</WikiLink
      >, <WikiLink page="U-101" title="U-101">U-101</WikiLink>) incentivize
      certain positions over others.
    </p>
  </li>
  <li>
    <p>
      <b>Survivability</b> - Some Submarines resurface in the middle of their attack
      patterns (ex. <WikiLink page="Nautilus" title="Nautilus"
        >Nautilus</WikiLink
      >, <WikiLink page="Homura" title="Homura">Homura</WikiLink>), and
      therefore you want to put them in a slot to minimize harm. This is
      stage-dependant.
    </p>
  </li>
</ul>
<br />

<ImageCarousel
  client:visible={{ rootMargin: "50px" }}
  data={[
    {
      src: USSSubFleet.src,
      caption: "Example USS Submarine Fleet.",
      alt: "Example USS Submarine Fleet.",
    },
    {
      src: KMSSubFleet.src,
      caption: "Example KMS Submarine Fleet.",
      alt: "Example KMS Submarine Fleet.",
    },
  ]}
/>
<br />

<h3 id="global_subs">International Submarine Fleet</h3>
<SubmarineTable
  main={internationalFleetMain}
  substitute={internationalFleetSub}
/>
<br />

<h3 id="kms_subs">KMS "Wolfpack" Submarine Fleet</h3>
<SubmarineTable main={kmsWolfpackFleetMain} substitute={kmsWolfpackFleetSub} />
<br />

<h3 id="uss_subs">USS "Fishpack" Submarine Fleet</h3>
<SubmarineTable main={ussFishpackFleetMain} substitute={ussFishpackFleetSub} />
<br />

<h3 id="mot_subs">Tempesta Submarine Fleet</h3>
<p>
  <i
    >Note: This is just for fun, it won't perform better compared to traditional
    submarine fleets!</i
  >
</p>

<SubmarineTable main={tempestaFleetMain} substitute={tempestaFleetSub} />
<br />

<h2 id="other_tips">Other Fleetbuilding Tips</h2><HR />
<h3 id="crossfleet">Cross-fleet Effects</h3>
<p>
  Cross-fleet effects are skills that activate in battles the ship isn't
  directly participating in. Some of the effects are useful in <WikiLink
    page="Operation Siren">Operation Siren</WikiLink
  > or when farming easy content, to speed up the process.
</p>
<ul>
  <li>
    <p>
      <b>You should NOT build fleets specifically around these ships.</b>
    </p>
  </li>
</ul>

<a
  rel="noopener noreferrer"
  target="_blank"
  href="/images/equip_misc/Cross-fleet_Effects.jpeg"
  title="Cross-fleet Effects"
>
  <img src="/images/equip_misc/Cross-fleet_Effects.jpeg" />
</a>
<br />

<h3 id="req_help">Hard Mode Requirement Help</h3>
<p>
  Below are a list of tips to meet <WikiLink page="Combat#Hard Mode"
    >Hard Mode</WikiLink
  > stat requirements, whether for Events or Campaign.
</p>

<a
  rel="noopener noreferrer"
  target="_blank"
  href="/images/equip_misc/Hard_Mode_Req_Help.jpeg"
  title="Hard Mode Req Help"
>
  <img src="/images/equip_misc/Hard_Mode_Req_Help.jpeg" />
</a>
<br />
<br />
