---
import "@styles/home_page.css"
import "@styles/fontawesome/css/fontawesome.css"
import "@styles/fontawesome/css/brands.css"
import "@styles/fontawesome/css/solid.css"
import "@styles/poppins_font.css"

import { Navbar } from "@components/_common/Navbar"
import Footer from "@components/_common/Footer.astro"

interface Props {
  title: string
  activePage?: string
  metaUrl?: string
  metaImage?: string
  metaDescription: string
}

const { title, activePage, metaUrl, metaImage, metaDescription } = Astro.props
---

<!doctype html>
<html lang="en">
  <!-- for google search -->
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta
      name="keywords"
      content="English Community Guide Compendium, English Azur Lane, Azur, Lane, Azur Lane, ECGC, Azur Lane ECGC, Wiki, Guide, Guides, Help, Tool, Tools, Ship, Ships, Gear, Gears, Samheart564, Sam Heart, Sam"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} - ECGC</title>
    <meta name="description" content={metaDescription} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={`https://azurlaneecgc.com/ECGC${metaUrl ? `/${metaUrl}` : ""}`}
    />
    {
      metaImage ? (
        <meta
          property="og:image"
          content={`https://azurlaneecgc.com/images/${metaImage}`}
        />
      ) : (
        <meta
          property="og:image"
          content="https://azurlaneecgc.com/images/misc/SiteIcon.png"
        />
      )
    }
    <meta name="og:description" content={metaDescription} />

    <link rel="icon" type="image/x-icon" href="/images/misc/SiteIcon.ico" />

    <script is:inline type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Azur Lane ECGC",
        "url": "https://azurlaneecgc.com/ecgc-dev",
        "image": "https://azurlaneecgc.com/images/misc/SiteIcon.png"
      }
    </script>
  </head><span data-astro-transition-persist="someId2">
    <noscript data-astro-transition-persist="someId2"
      >Your browser does not support JavaScript!
    </noscript>
  </span>

  <body>
    <Navbar activePage={activePage} client:idle />
    <slot />
  </body>
  <Footer />


</html>
